<div>
  <ngx-datatable  
  class="dark"
  [rows]="rows"
 
  
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'">  
        <ngx-datatable-column name="EncounterId" prop="MrPatientEncounterId">            
        </ngx-datatable-column>
        <ngx-datatable-column name="PatientId" prop="PatientId">         
        </ngx-datatable-column>
        <ngx-datatable-column name="ChiefComplaint" prop="ChiefComplaint">
            <ng-template let-column="column"  ngx-datatable-header-template>
                {{column.name}}
            </ng-template>
            <ng-template let-value="value"  let-row="row" ngx-datatable-cell-template>
             <a href="" (click)= "OnChiefComplaint(row['MrPatientEncounterId'])" >{{value}}</a>
            </ng-template>            
          </ngx-datatable-column>
  </ngx-datatable>

  </div>
